body {
	background-color: powderblue;
}
h1 {
	text-align: center;
	background-color: purple;
	color: black;
	margin: auto 0;
}

h3 {
	margin-top: 15px;
	font-size: 50px;
}

img {
	height: 100px;
	width: 100px;
	float: right;
	margin-right: 70px;
}

hr{
  margin-top: 30px;
  margin-bottom: 30px;
	margin-left: 40%;
  width: 5%;
  border: 10px dotted #EAF6F6;
  border-bottom: none;
}

::selection{
	color: yellowgreen;
	background-color: black;
}

